@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: #94a3b8;
}

[contenteditable]:focus {
  outline: none;
}

[data-slate-editor] > * + * {
  margin-top: 1em;
}